.hp-search-autocomplete-row {
  text-decoration: none;

  .hp-title {
    display: block;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-grey-800);

    .hp-title {
      color: var(--color-primary);
    }
  }
}