.review-swiper {
  padding: 0 2rem;
 .swiper-wrapper {
    align-items: stretch;
  }
  .swiper-button-next, .swiper-button-prev{
    color: var(--primary);
    outline: none !important;
  }
  .swiper-button-prev{
    left: 1rem;
  }
  .swiper-button-next{
    right: 1rem;
  }

  .swiper-pagination-bullet-active {
    background: var(--color-primary-light);
  }

  .swiper-slide {
    padding: 0 0 3rem 0;

    .blockquote {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 1rem;

      &-footer {
        margin-top: auto;
        padding-top: .5rem;
        font-size: 14px;
      }
    }
  }
}
