#searchMapContainer{
  width: 100%;
  position: fixed;
  top:56px;
  bottom:0;
  left:0;
  right:0;
  background: var(--color-slate-100);
  z-index: 0;
  #map{
    position: absolute;
    bottom:0;
    left:0;
    top:0;
    right:0;
    width: 100%;
    height:100%;
  }
  #searchMapInfoBox{
    height: 30px;
    overflow: hidden;
    h2{
      line-height: 30px;
      font-size: 12px;
      color: var(--color-grey-800);
      font-weight: 300;
      margin:0;
    }
    background-color: rgba(#eee,0.9);
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom:0;
    z-index: 2;
  }
  #mapBoxContainer{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    .marker{
      width: 14px;
      height:14px;
      border-radius: 50%;
      background: var(--color-primary);
      border:2px solid #fff;
    }
    .maplibregl-ctrl.maplibregl-ctrl-group{
      background: transparent;
      box-shadow: none;
      .maplibregl-ctrl-custom-round{
        width: 44px;
        height:44px;
        background: #fff;
        text-align: center;
        line-height: 44px;
        color:#3c515b;
        font-size: 26px;
        border-radius: 50%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
        transition: all .2s ease-in-out;
        i{
          line-height: 44px;
        }
        &:hover{
          background-color: #dfe8ee;
          color:#3c515b;
        }
      }
    }
  }
  #mapExtraControls{
    position: absolute;
    left:0;
    right:0;
    bottom:40px;
    text-align: center;
  }
  .mapboxgl-ctrl-attrib {
    padding:2px 5px;
    a {
      color: rgba(0,0,0,.6);
      font-size: 10px;
      display: inline-block;
      float: left;
    }
  }
}


@media (min-width: 992px) {
  #searchMapContainer{
    width: calc(100% -  650px);
    top:142px;
    #mapExtraControls{
      bottom:15px;
    }
  }
}
@media (min-width: 1200px) {
  #searchMapContainer{
    width: calc(100% -  800px);
  }
}


